In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [55]:
raw_df = pd.read_csv('train_oil.csv')
raw_df.head()

,Field name,Reservoir unit,Country,Region,Basin name,Tectonic regime,Latitude,Longitude,Operator company,Onshore/Offshore,Hydrocarbon type,Reservoir status,Structural setting,Depth,Reservoir period,Lithology,Thickness (gross average ft),Thickness (net pay average ft),Porosity,Permeability
0,ZHIRNOV,MELEKESKIAN,RUSSIA,FORMER SOVIET UNION,VOLGA-URAL,COMPRESSION/EVAPORITE,51.0000,44.8042,NIZHNEVOLZHSKNET,ONSHORE,OIL,DECLINING PRODUCTION,FORELAND,1870,CARBONIFEROUS,SANDSTONE,262.0,33.0,24.0,30.0
1,LAGOA PARDA,LAGOA PARDA (URUCUTUCA),BRAZIL,LATIN AMERICA,ESPIRITO SANTO,EXTENSION,-19.6017,-39.8332,PETROBRAS,ONSHORE,OIL,NEARLY DEPLETED,PASSIVE MARGIN,4843,PALEOGENE,SANDSTONE,2133.0,72.0,23.0,350.0
2,ABQAIQ,ARAB D,SAUDI ARABIA,MIDDLE EAST,THE GULF,COMPRESSION/EVAPORITE,26.0800,49.8100,SAUDI ARAMCO,ONSHORE,OIL,REJUVENATING,FORELAND,6050,JURASSIC,LIMESTONE,250.0,184.0,21.0,410.0
3,MURCHISON,BRENT,UK /NORWAY,EUROPE,NORTH SEA NORTHERN,EXTENSION,61.3833,1.7500,CNR,OFFSHORE,OIL,NEARLY DEPLETED,RIFT,8988,JURASSIC,SANDSTONE,425.0,300.0,22.0,750.0
4,WEST PEMBINA,NISKU (PEMBINA L POOL),CANADA,NORTH AMERICA,WESTERN CANADA,COMPRESSION,53.2287,-115.8008,NUMEROUS,ONSHORE,OIL,UNKNOWN,FORELAND,9306,DEVONIAN,DOLOMITE,233.0,167.0,11.8,1407.0

In [59]:
raw_df['Lithology'].head(50)

0                   SANDSTONE
1                   SANDSTONE
2                   LIMESTONE
3                   SANDSTONE
4                    DOLOMITE
5                    DOLOMITE
6         DOLOMITIC LIMESTONE
7                   SANDSTONE
8             SHALY SANDSTONE
9                    DOLOMITE
10    THINLY-BEDDED SANDSTONE
11                  SANDSTONE
12                  SANDSTONE
13                  LIMESTONE
14                  SANDSTONE
15                  SANDSTONE
16                  LIMESTONE
17                   DOLOMITE
18                  SANDSTONE
19    THINLY-BEDDED SANDSTONE
20                  SANDSTONE
21                  SANDSTONE
22                  LIMESTONE
23                  SANDSTONE
24                   DOLOMITE
25                  SANDSTONE
26                  LIMESTONE
27                   DOLOMITE
28                  LIMESTONE
29                  SANDSTONE
30                  LIMESTONE
31                  SANDSTONE
32                  SANDSTONE
33                  SANDSTONE
34                  LIMESTONE
35                  SANDSTONE
36               CONGLOMERATE
37                  SANDSTONE
38                  SANDSTONE
39                  SANDSTONE
40                  SILTSTONE
41                   DOLOMITE
42                  SANDSTONE
43                  SANDSTONE
44            SHALY SANDSTONE
45                   DOLOMITE
46                   DOLOMITE
47                  SANDSTONE
48                  SANDSTONE
49                   DOLOMITE
Name: Lithology, dtype: object

In [3]:
len(raw_df['Field name'].unique())

285

In [4]:
raw_df['Onshore/Offshore'].unique()

array(['ONSHORE', 'OFFSHORE', 'ONSHORE-OFFSHORE'], dtype=object)

In [5]:
raw_df = raw_df[raw_df['Onshore/Offshore'] != 'ONSHORE-OFFSHORE']

In [6]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 304 entries, 0 to 308
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Field name                      304 non-null    object
 1   Reservoir unit                  304 non-null    object
 2   Country                         278 non-null    object
 3   Region                          267 non-null    object
 4   Basin name                      267 non-null    object
 5   Tectonic regime                 304 non-null    object
 6   Latitude                        278 non-null    float64
 7   Longitude                       275 non-null    float64
 8   Operator company                304 non-null    object
 9   Onshore/Offshore                304 non-null    object
 10  Hydrocarbon type                304 non-null    object
 11  Reservoir status                304 non-null    object
 12  Structural setting              304 non-null    object
 13  Depth                           304 non-null    int64
 14  Reservoir period                304 non-null    object
 15  Lithology                       304 non-null    object
 16  Thickness (gross average ft)    304 non-null    float64
 17  Thickness (net pay average ft)  304 non-null    float64
 18  Porosity                        304 non-null    float64
 19  Permeability                    304 non-null    float64
dtypes: float64(6), int64(1), object(13)
memory usage: 49.9+ KB

In [11]:
arr = ['Country', 'Tectonic regime', 'Operator company', 'Basin name', 'Structural setting']

In [7]:
raw_df.isna().sum() / raw_df.count()

Field name                        0.000000
Reservoir unit                    0.000000
Country                           0.093525
Region                            0.138577
Basin name                        0.138577
Tectonic regime                   0.000000
Latitude                          0.093525
Longitude                         0.105455
Operator company                  0.000000
Onshore/Offshore                  0.000000
Hydrocarbon type                  0.000000
Reservoir status                  0.000000
Structural setting                0.000000
Depth                             0.000000
Reservoir period                  0.000000
Lithology                         0.000000
Thickness (gross average ft)      0.000000
Thickness (net pay average ft)    0.000000
Porosity                          0.000000
Permeability                      0.000000
dtype: float64

In [8]:
# Заполним пропуски
categ_na = ['Country', 'Region', 'Basin name']
int_na = ['Latitude', 'Longitude']

for label in categ_na:
  raw_df[label].fillna(raw_df[label].mode()[0], inplace=True)

for label in int_na:
  raw_df[label].fillna(raw_df[label].mean(), inplace=True)

<ipython-input-8-dbec0d9bdc85>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  raw_df[label].fillna(raw_df[label].mode()[0], inplace=True)
<ipython-input-8-dbec0d9bdc85>:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  raw_df[label].fillna(raw_df[label].mean(), inplace=True)

In [9]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler, MultiLabelBinarizer

In [22]:
df.isna().sum() / df.count()

Country                              0.016447
Basin name                           0.016447
Tectonic regime                      0.016447
Latitude                             0.016447
Longitude                            0.016447
                                       ...
Lithology_SHALY SANDSTONE            0.000000
Lithology_SILTSTONE                  0.000000
Lithology_THINLY-BEDDED SANDSTONE    0.000000
Lithology_VOLCANICS                  0.000000
Lithology_nan                        0.000000
Length: 613, dtype: float64

In [44]:
df = raw_df.copy()

In [45]:
# Используем стандартизацию
standartize_columns = [
    'Latitude',
    'Longitude',
    'Depth',
    'Thickness (gross average ft)',
    'Thickness (net pay average ft)',
    'Porosity',
    'Permeability'
]

for label in standartize_columns:
  scaler = StandardScaler()
  df[label] = scaler.fit_transform(df[[label]])

In [46]:
# Преобразуем категориальные переменные в численные

to_int = [
    'Field name',
    'Reservoir unit',
    'Region',
    'Hydrocarbon type',
    'Reservoir status',
    'Reservoir period',
    'Lithology'
]

to_int_multy = ['Country', 'Tectonic regime', 'Operator company', 'Basin name', 'Structural setting']

for label in to_int:
  enc = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
  encoded = enc.fit_transform(df[[label]])
  encoded_df = pd.DataFrame(encoded, columns=enc.get_feature_names_out([label]))
  df = pd.concat([df, encoded_df], axis=1)
  df = df.drop(label, axis=1)

y_enc = LabelEncoder()
df['Onshore/Offshore'] = y_enc.fit_transform(df['Onshore/Offshore'])

In [47]:
for label in to_int_multy:
  print(label, raw_df[label].unique())
  label_s = f'{label}_split'
  df[label_s] = df[label].str.split('/')

  enc = MultiLabelBinarizer()
  print(df[label_s])

  encoded = enc.fit_transform(df[label_s])
  encoded_df = pd.DataFrame(encoded, columns=enc.classes_)
  df = pd.concat([df, encoded_df], axis=1)
  df = df.drop(label, axis=1)
  df = df.drop(label_s, axis=1)

Country ['RUSSIA' 'BRAZIL' 'SAUDI ARABIA' 'UK /NORWAY' 'CANADA' 'UZBEKISTAN' 'USA'
 'VENEZUELA' 'UK' 'INDIA' 'COLOMBIA' 'THAILAND' 'AUSTRALIA' 'KAZAKHSTAN'
 'CHINA' 'TURKEY' 'FRANCE' 'INDONESIA' 'NORWAY' 'LIBYA' 'ANGOLA'
 'TURKMENISTAN' 'TRINIDAD AND TOBAGO' 'IRAN' 'NEUTRAL ZONE' 'EGYPT'
 'PAPUA NEW GUINEA' 'OMAN' 'ALGERIA' 'GABON' 'QATAR' 'TUNISIA'
 'EQUATORIAL GUINEA' 'TUNISIA /ALGERIA' 'UAE' 'SOUTH AFRICA' 'DENMARK'
 'NIGERIA' 'AFGHANISTAN' 'IRAQ' 'MALAYSIA' 'NORWAY /UK']
0            [RUSSIA]
1            [BRAZIL]
2      [SAUDI ARABIA]
3       [UK , NORWAY]
4            [CANADA]
            ...
299             [USA]
300          [RUSSIA]
301             [USA]
302             [USA]
303             [USA]
Name: Country_split, Length: 299, dtype: object
Tectonic regime ['COMPRESSION/EVAPORITE' 'EXTENSION' 'COMPRESSION'
 'INVERSION/COMPRESSION/EXTENSION/EVAPORITE'
 'GRAVITY/EXTENSION/SHALE/SYNSEDIMENTATION' 'COMPRESSION/EROSION'
 'EXTENSION/EROSION' 'EXTENSION/EVAPORITE' 'COMPRESSION/SHALE'
 'GRAVITY/EVAPORITE/EXTENSION'
 'STRIKE-SLIP/INVERSION/COMPRESSION/EXTENSION'
 'INVERSION/COMPRESSION/EXTENSION' 'GRAVITY/SHALE/EXTENSION'
 'TRANSTENSION/EXTENSION/SHALE/LINKED' 'GRAVITY/EVAPORITE/COMPRESSION'
 'INVERSION/STRIKE-SLIP/TRANSPRESSION/EXTENSION/BASEMENT-I'
 'INVERSION/COMPRESSION/EXTENSION/EROSION'
 'GRAVITY/EXTENSION/EVAPORITE/SYNSEDIMENTATION'
 'COMPRESSION/EXTENSION/LINKED' 'EXTENSION/INVERSION'
 'COMPRESSION/EXTENSION/EVAPORITE' 'STRIKE-SLIP/TRANSTENSION/BASEMENT-I'
 'GRAVITY/EXTENSION/EVAPORITE'
 'INVERSION/COMPRESSION/EXTENSION/EVAPORITE/GRAVITY'
 'EXTENSION/EVAPORITE/EROSION/GRAVITY' 'EXTENSION/TRANSTENSION'
 'STRIKE-SLIP/TRANSPRESSION/BASEMENT-I' 'EXTENSION/EVAPORITE/GRAVITY'
 'INVERSION/COMPRESSION/EXTENSION/SHALE'
 'COMPRESSION/EVAPORITE/EXTENSION/LINKED'
 'INVERSION/COMPRESSION/EVAPORITE/EROSION'
 'COMPRESSION/EROSION/GRAVITY/EVAPORITE/EXTENSION'
 'COMPRESSION/EROSION/EXTENSION' 'EXTENSION/EROSION/GRAVITY/EVAPORITE'
 'INVERSION/EXTENSION/COMPRESSION'
 'COMPRESSION/GRAVITY/EVAPORITE/EXTENSION/LINKED'
 'COMPRESSION/STRIKE-SLIP/TRANSPRESSION/BASEMENT-I'
 'COMPRESSION/EVAPORITE/GRAVITY'
 'GRAVITY/EXTENSION/EVAPORITE/DIAPIR/SYNSEDIMENTATION'
 'COMPRESSION/SHALE/REACTIVATION/BASEMENT-I' 'STRIKE-SLIP/BASEMENT-I'
 'GRAVITY/EXTENSION/EVAPORITE/DIAPIR'
 'GRAVITY/COMPRESSION/SHALE/EXTENSION/LINKED'
 'COMPRESSION/EROSION/EXTENSION/LINKED'
 'COMPRESSION/EXTENSION/LINKED/EROSION'
 'STRIKE-SLIP/TRANSTENSION/SHALE/EVAPORITE/BASEMENT-I'
 'COMPRESSION/EXTENSION/EROSION/EVAPORITE' 'STRIKE-SLIP/TRANSPRESSION'
 'GRAVITY/EXTENSION/SHALE' 'EXTENSION/COMPRESSION'
 'COMPRESSION/EXTENSION/EROSION' 'COMPRESSION/EXTENSION'
 'TRANSPRESSION/UPLIFT' 'GRAVITY/SHALE/EXTENSION/SYNSEDIMENTATION'
 'EXTENSION/EVAPORITE/INVERSION']
0                           [COMPRESSION, EVAPORITE]
1                                        [EXTENSION]
2                           [COMPRESSION, EVAPORITE]
3                                        [EXTENSION]
4                                      [COMPRESSION]
                           ...
294    [GRAVITY, SHALE, EXTENSION, SYNSEDIMENTATION]
295                             [EXTENSION, EROSION]
296                                    [COMPRESSION]
297                           [EXTENSION, EVAPORITE]
298       [INVERSION, COMPRESSION, EXTENSION, SHALE]
Name: Tectonic regime_split, Length: 294, dtype: object
Operator company ['NIZHNEVOLZHSKNET' 'PETROBRAS' 'SAUDI ARAMCO' 'CNR' 'NUMEROUS'
 'SREDAZGAZPROM' 'AMERADA HESS' 'SHELL' 'BANF AND AQUITAINE' 'REPSOL YPF'
 'BAPETCO' 'BTA OIL PRODUCERS' 'IMPERIAL OIL RESOURCES' 'NEXEN' 'ONGC'
 'BP AND OTHERS' 'TALISMAN' 'PTTEP' 'SANTOS' 'KAZAKHOIL AKTOBE'
 'SABLE OFFSHORE ENERGY' 'CNOOC' 'TENNECO'
 'EXXONMOBIL /CONOCOPHILLIPS /CHEVRON' 'ADMA /ZADCO' 'TPAO' 'PETROCHINA'
 'TATNEFT' 'COPAREX /TRITON' 'MANGYSTAUMUNAIGAZ' 'BP'
 'CALTEX PACIFIC INDONESIA' 'WHITING OIL and GAS'
 'CHEVRON /CONOCOPHILLIPS /TOTAL' 'HUSKY ENERGY' 'PAN AMERICAN PETROLEUM'
 'EXXONMOBIL' 'STATOILHYDRO' 'PDO' 'MAGELLAN PETROLEUM' 'LNOC'
 'CHEVRON /EXXONMOBIL' 'CHEVRON' 'ANADARKO' 'SIBNEFT (MURAVLENKOVSKNEFT)'
 'APACHE /BURLINGTON' 'SURGUTNEFTEGAS' 'MARATHON' 'SHELL /PERENCO'
 'CONOCOPHILLIPS' 'VIKOR RESOURCES' 'HIBERNIA MANAGEMENT DEVELOPMENT CO'
 'KUYBYSHEVNEFT' 'TURKMENGAS' 'PDVSA' 'ANSCHUTZ AND OTHERS' 'KOMINEFT'
 'WOODSIDE' 'GULF OIL' 'PETROTRIN' 'DRAGON OIL'
 'KARACHAGANAK INTEGRATED ORAGANIZATION' 'TOTAL' 'CHEVRON /BP'
 'CANADIAN SUPERIOR' 'CANADIAN NATURAL RESOURCES' 'CABOT OIL and GAS'
 'NIOC' 'HILLCORP ENERGY' 'EXXONMOBIL /BHP BILLITON' 'ASAMERA' 'SINOPEC'
 'ARABIAN OIL CO' 'RIM ENERGY' 'CONOCOPHILLIPS AND OTHERS'
 'TENGIZCHEVROIL' 'ALBERTA ENERGY COMPANY /WESTCOAST PETROLEUM'
 'PETRO-CANADA AND OTHERS' 'TURKMENNEFT' 'SONATRACH' 'VAALCO'
 'CALTEX PACIFIC' 'QATAR PETROLEUM' 'VERKHNECHONSKNEFTEGAZ'
 'CHEVRON AND OTHERS' 'CALLON PETROLEUM AND OTHERS' 'OCCIDENTAL'
 'BORAL ENERGY RESOURCES LTD' 'DNO' 'TENNECO /CENEX /SHELL'
 'QARUN PETROLEUM' 'BG' 'NOYABRSKNEFTEGAS' 'WILDFIRE PARTNERS INC'
 'HUNT OIL COMPANY' 'RUSIA PETROLEUM' 'SHELL AND OTHERS' 'PLUSPETROL'
 'VOSTSIBNEFTEGAZGEOLOGIYA' 'REPSOL YPF /MAXUS' 'ORENBURGGAZPROM' 'IEOC'
 'SITEP /SONATRACH' 'ADCO' 'PETROSA' 'MAERSK' 'ENCANA' 'MADISON /CHART'
 'DEVON ENERGY AND OTHERS' 'CITATION OIL and GAS' 'TOMSKNEFT (YUKOS)'
 'AFGHANGAS' 'TYUMENNEFTEGAZ' 'BRITTANIA OPERATOR LIMITED'
 'YUGANSKNEFTEGAS /SIBNEFT /SURGUTNEFTEGAS' 'DEVON ENERGY' 'BHP BILLITON'
 'APACHE' 'INOC' 'HUDSONS BAY OIL and GAS' 'COCHRANE RESOURCES /PIONEER'
 'YAKUTGASPROM' 'LOUIS DREYFUS NATURAL GAS' 'NIELSON and ASSOCIATES INC'
 'EXXONMOBIL AND OTHERS' 'TNK-BP' 'ESSOREP' 'CHEVRON /PXP' 'SHELL /ENCANA'
 'PETRONAS' 'GUPCO' 'PERTAMINA' 'EXXONMOBIL /SMNG' 'OIL SEARCH LTD'
 'PANARCTIC OILS' 'SAMUEL GARY' 'MATRIX PRODUCTION AND OTHERS']
0      [NIZHNEVOLZHSKNET]
1             [PETROBRAS]
2          [SAUDI ARAMCO]
3                   [CNR]
4              [NUMEROUS]
              ...
289           [PETROBRAS]
290          [PETROCHINA]
291        [HUSKY ENERGY]
292        [SAUDI ARAMCO]
293               [GUPCO]
Name: Operator company_split, Length: 289, dtype: object
Basin name ['VOLGA-URAL' 'ESPIRITO SANTO' 'THE GULF' 'NORTH SEA NORTHERN'
 'WESTERN CANADA' 'AMU DARYA' 'WILLISTON'
 'GULF OF MEXICO NORTHERN ONSHORE' 'ANADARKO' 'MARACAIBO'
 'NORTH SEA CENTRAL' 'LLANOS' 'MALAY' 'CASPIAN NORTH' 'SCOTIAN'
 'YINGGEHAI' 'PERMIAN' 'TAURUS/ZAGROS' 'JIUQUAN' 'PARIS' 'RECONCAVO'
 'SUMATRA CENTRAL' 'BEAUFORT-MACKENZIE' 'BIG HORN' 'SIRT' 'PARADOX'
 'CONGO' 'GREATER GREEN RIVER' 'SIBERIAN WESTERN' 'PHITSANULOK' 'BOHAI'
 'CAMPOS' 'ORDOS' 'MID-NORWAY SHELF' 'APPALACHIAN' 'CAMBAY' 'COOK INLET'
 'JEANNE D ARC' 'BONAPARTE' 'EASTERN VENEZUELA' 'KUTAI' 'CASPIAN SOUTH'
 'FOSSIL' 'ZAGROS' 'GIPPSLAND' 'SUMATRA SOUTH' 'ABU GHARADIG'
 'TURPAN (TURFAN)' 'JIANGHAN' 'PAPUAN FTB' 'NORTH SEA SOUTHERN'
 'GHABA SALT' 'WESTERN OVERTHRUST' 'GHADAMES' 'GABON SOUTH'
 'SIERRA GRANDE UPLIFT' 'FORT WORTH' 'SIBERIAN EASTERN' 'OTWAY'
 'UINTA/PICEANCE' 'GINDI' 'GULF OF MEXICO NORTHERN OFFSHORE' 'PELAGIAN'
 'QIONGDONGNAN' 'TIMAN-PECHORA' 'CHEROKEE' 'FAHUD SALT' 'SUNDA'
 'NIGER DELTA' 'JAVA NORTHWEST' 'NILE DELTA' 'RUB AL KHALI' 'BREDASDORP'
 'MICHIGAN' 'SERGIPE-ALAGOAS' 'POWDER RIVER' 'FLORIDA/BAHAMAS'
 'NATUNA EAST/SARAWAK' 'SOUTH OMAN SALT' 'NORTH SLOPE' 'ARKOMA'
 'CARNARVON' 'JUNGGAR (ZHUNGEER)' 'SAN JOAQUIN' 'SABAH' 'GULF OF SUEZ'
 'TARAKAN' 'NORTH SAKHALIN' 'SVERDRUP' 'UINTA']
0              [VOLGA-URAL]
1          [ESPIRITO SANTO]
2                [THE GULF]
3      [NORTH SEA NORTHERN]
4          [WESTERN CANADA]
               ...
284           [SAN JOAQUIN]
285                 [BOHAI]
286        [WESTERN CANADA]
287          [RUB AL KHALI]
288                 [SABAH]
Name: Basin name_split, Length: 284, dtype: object
Structural setting ['FORELAND' 'PASSIVE MARGIN' 'RIFT' 'INVERSION/RIFT' 'INTRACRATONIC'
 'DELTA/PASSIVE MARGIN' 'THRUST/SUB-THRUST/FORELAND' 'SALT/RIFT'
 'WRENCH/INVERSION/BACKARC' 'SUB-SALT/FORELAND' 'WRENCH/RIFT'
 'SALT/FORELAND' 'THRUST' 'SALT/INVERSION/RIFT' 'INVERSION/BACKARC'
 'DELTA/SALT/PASSIVE MARGIN' 'THRUST/FORELAND' 'SUB-SALT/PASSIVE MARGIN'
 'WRENCH' 'SALT/PASSIVE MARGIN' 'SUB-SALT/INVERSION' 'INVERSION/FOREARC'
 'RIFT/SALT' 'THRUST/PASSIVE MARGIN' 'INVERSION/FORELAND'
 'WRENCH/PASSIVE MARGIN' 'RIFT/INVERSION' 'BACKARC' 'SUB-THRUST'
 'FORELAND/PASSIVE MARGIN' 'FORELAND/SALT' 'SUB-THRUST/FORELAND'
 'SUB-SALT/RIFT' 'WRENCH/FOREARC' 'FORELAND/THRUST' 'WRENCH/FORELAND'
 'WRENCH/DELTA' 'SUB-SALT' 'RIFT/PASSIVE MARGIN' 'SALT/INVERSION/FORELAND'
 'DELTA/FORELAND' 'DELTA/WRENCH' 'INVERSION/WRENCH']
0                         [FORELAND]
1                   [PASSIVE MARGIN]
2                         [FORELAND]
3                             [RIFT]
4                         [FORELAND]
                   ...
279                           [RIFT]
280    [DELTA, SALT, PASSIVE MARGIN]
281                 [SALT, FORELAND]
282                  [INTRACRATONIC]
283                  [INTRACRATONIC]
Name: Structural setting_split, Length: 279, dtype: object

In [37]:
df.head()

,Latitude,Longitude,Onshore/Offshore,Depth,Thickness (gross average ft),Thickness (net pay average ft),Porosity,Permeability,Field name_ABQAIQ,Field name_ABU MADI-EL QARA,...,FORELAND,INTRACRATONIC,INVERSION,PASSIVE MARGIN,RIFT,SALT,SUB-SALT,SUB-THRUST,THRUST,WRENCH
0,0.725873,0.695612,1.0,-1.365982,-0.364411,-0.529487,0.877943,-0.446919,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-2.587175,-0.332819,1.0,-0.544031,1.068069,-0.392095,0.737400,-0.128485,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.443520,0.756438,1.0,-0.210330,-0.373599,0.002467,0.456313,-0.068778,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.213119,0.172460,0.0,0.601945,-0.239615,0.411120,0.596856,0.269558,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.830457,-1.255903,1.0,0.689863,-0.386614,-0.057422,-0.836686,0.923344,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
df.dropna(inplace=True)

In [39]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
from sklearn.model_selection import train_test_split

In [51]:
X = df.drop(['Onshore/Offshore'], axis=1)
y = df['Onshore/Offshore']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [52]:
model = LogisticRegression().fit(X_train, y_train)
y_pred = model.predict(X_test)

In [54]:
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()
print("TN:", tn)
print("FP:", fp)
print("FN:", fn)
print("TP:", tp)
print("\nAccuracy:", accuracy_score(y_test, y_pred))
print("Recall:", recall_score(y_test, y_pred))
print("Precision:", precision_score(y_test, y_pred))
print("F1:", f1_score(y_test, y_pred))

TN: 6
FP: 14
FN: 8
TP: 55

Accuracy: 0.7349397590361446
Recall: 0.873015873015873
Precision: 0.7971014492753623
F1: 0.8333333333333334